@{
    string str="Page can't be opened without LogIn";

    //get request
    Database Db=Database.Open("ExamSystem");
    string SelectCommand="SELECT [ID], [SubjectName] FROM [Subject]";
    IEnumerable<dynamic> Datas=Db.Query(SelectCommand);

    //post request
    if(IsPost)
    {
         if(Request["Logout"].Equals("Logout"))
        {
            Session.Abandon();          
            Response.Redirect("Default");
        }
        else
        {       
        string SubjectID=Request["Subject"];
        string Question=Request["Question"];
        string A=Request["A"];
        string B=Request["B"];
        string C=Request["C"];
        string D=Request["D"];
        string Answer=Request["Answer"];
        string InsertCommand="INSERT INTO [Question] ([SubjectID], [Question], [A], [B], [C], [D], [Answer]) VALUES (@0, @1, @2, @3, @4, @5, @6)" ;
        Db=Database.Open("ExamSystem");
        Db.Execute(InsertCommand,SubjectID,Question,A,B,C,D,Answer);
        }
   }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" href="bootstrap.3.3.5/Content/bootstrap.min.css">
        <link rel="stylesheet" href="bootstrap.3.3.5/Content/bootstrap-theme.min.css">
        <script src="Script/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="bootstrap.3.3.5/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="StyleSheets/StyleSheetFPage1.css">
        <style type="text/css">
            #header{
                height: 100px;
            }
            nav{
                margin-top: -30px;
            }   
            h3{
                margin-top: -16px;
            }                   
        </style>
    </head>
    <body>
         @try{
        
        if(Session["AdminID"]!=null)
        {
            if(Session["AdminID"].ToString().Equals("Admin"))
                {  
                    <div id="header" class="jumbotron">
                        <h3>Exam System</h3>
                    </div>
                    <nav class="navbar navbar-default">
                        <div class="container">

                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">Student</a></li>
                                    <li><a href="Subject">Subject</a></li>
                                    <li><a href="AdminDataEntry">Question</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">View Database<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Student Log</a></li>
                                            <li><a href="SubjetEdit">Subject</a></li>
                                            <li><a href="QuestionEdit">Question</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <form method="post" id="LogOutForm">
                                    <ul class="nav navbar-nav navbar-right">

                                        <li>
                                            <input type="hidden" name="Logout" value="Logout">
                                            <a href="javascript:document.getElementById('LogOutForm').submit()">Log Out</a>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <div class="container" id="DataEntryContainer">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h2>Question</h2></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <form class="form-horizontal" method="post">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Subject:</label>
                                                <div class="col-sm-10">
                                                    <select name="Subject" class="form-control">
                                                        <option value="0">Select Subject</option>
                                                        @foreach(var item in Datas)
                                                        {
                                                            <option value="@item.ID">@item.SubjectName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Question:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Question" name="Question" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">A :</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="A" name="A" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">B :</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="B" name="B" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">C :</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="C" name="C" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">D :</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="D" name="D" required="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Answer:</label>
                                                <div class="col-sm-10">
                                                    <p style="padding: 0px"></p>
                                                    <input type="radio" name="Answer" value="A">
                                                    <label>A</label>&nbsp;
                                                    <input type="radio" name="Answer" value="B">
                                                    <label>B</label>&nbsp;
                                                    <input type="radio" name="Answer" value="C">
                                                    <label>C</label>&nbsp;
                                                    <input type="radio" name="Answer" value="D">
                                                    <label>D</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                else{ 
                    Response.Redirect("Default");
                    }
        }
         else{
               Response.Redirect("Default");           
             }
              }catch(Exception ex)
{
     Response.Redirect("Default");
}
    </body>
</html>
